# Disable directory browsing 
Options -Indexes

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

AuthType Basic
AuthName "Restricted Content"
AuthUserFile /etc/apache2/.htpasswd
Require valid-user

